.st-key-summary button {


    background-color:blue;

}




[data-testid="stSidebarNavLink"] {
    text-decoration: none;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0.125rem 1.5rem;
    line-height: 2;
    color: orange;
    background-color:orangered;
}

[data-testid="stBaseButton-secondary"]{

    background-color: blue;
}

.st-emotion-cache-14553y9 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: orange;

}


